{% extends "base.html" %}

{% block content %}
	<h1>Welcome {{username}} !</h1>

	<p>  {{email}}</p>
	<p>  {{first_name}} </p>
	<p>  {{last_name}}</p>
	<p>  {{uid}}</p>
	<p>  {{id}}</p>
	<p>  {{U_id}}</p>
	<p>  {{Uid}}</p>
	<p>  {{link}}</p>
	<p>  {{gender}}</p>
	<p>  {{locale}}</p>
	
	
<!-- <img src="http://graph.facebook.com/10154512780255599/picture?type=large" alt=""> -->





<br>

<a class="font-medium" href="/add">Please, Post a Job!</a>
</div>
	<a href="{% url 'log-out' %}" class="btn btn-danger btn-lg" role="button">Logout</a>
{% endblock content %}