{% extends "base.html" %}

{% block content %}
	<h1>Welcome {{username}} !</h1>

	<p>email: {{user.email}}</p>
	<p>first name: {{user.first_name}}</p>
	<p>last name: {{user.last_name}}</p>
	<p>last id: {{user.uid}}</p>
	<p>last id: {{user.id}}</p>
	<p>last id: {{user.U_id}}</p>
	<p>last id: {{user.Uid}}</p>
	{{photo}}
	

<img src="http://graph.facebook.com/10154512780255599/picture?type=large" alt="">







<a class="font-medium" href="/add">Please, Post a Job!</a>
</div>
	<a href="{% url 'log-out' %}" class="btn btn-danger btn-lg" role="button">Logout</a>
{% endblock content %}