<div class="content ">
<h1 class="tcenter" >Post a Job</h1>
	
</div>
<div class="content">
	

	<!-- form -->
<form enctype="multipart/form-data" method="post">
	<div id="form">
		{% csrf_token %}
		{{form.as_p}}
		<input type="submit">
	 </div>
<form>
		<!-- end form -->
</div>


		<style>
		label 
		{
			display: block;
		}


		</style>


		<style>


	.content
		{
			border:1px solid black;
			margin: 1em auto;
			padding: 1em;
			width: 50%;
			font-family: arial;
		}



	.tcenter
		{
			text-align: center;
		}
	
	.font-medium
		{
			font-size: 25px;
			padding:1em .7em ;

		}




</style>