{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
	<title>hd</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" >
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">
	<link rel="stylesheet" href="{% static "css/styles.css" %}">
	<link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro' rel='stylesheet' type='text/css'>
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<script src="{% static "js/main.js" %}"></script>
</head>
<body>
<header class="header relative ">
	<a id="mini-menu" href="#"  class=" button-menu icon-menu relative"></a>
	<nav id="menu" >
		<ul>
			<li><a href="#">Home</a></li>
			<li><a href="#">Notifications</a></li>
			<li><a href="#">Discover</a></li>
			<li><a href="#">Me</a></li>
			<li><a href="/add/">Post a Job</a></li>
		</ul>
	</nav>
	<div class="search right">
		<form action="" class="relative">
			<span class="icon-search search-icon"></span>
			<input class="input" type="text" placeholder="busqueda">
		</form>
	</div>

</header>

{% if user.facebook_id %}
	<img src="http://graph.facebook.com/{{ user.facebook_id }}/picture?type=large" alt="">
{% endif %}


{% for job in jobs %}

	<div class="container padding relative center-block">

		{% load thumbnail %}
		{% thumbnail job.image "60"  as im %}	
			<img src="{{ im.url }}" width="{{ im.width }}" height="{{im.height}}" >		
		{% endthumbnail %}
 

	

		<div class="items ">
			<a href="/empresa/{{job.usuario}}" class="business-name font-size-small bold">{{job.usuario}} </a>
			<p class="job-name font-size-small bold ">{{job.empleo}} - <a href="/area/{{job.area}}">{{job.area}}</a></p>
		
			<p class="timestamp font-size-small">{{job.timestamp | timesince }} </p>
		</div>
		<div class="job-description font-size-small ">

		<div class="icon-quill"></div>
		<div class="icon-camera"></div>
		<div class="icon-location"></div>
			<p class="bold">Job Description</p>
			<p class="info">{{job.descripcion}} </p> <br>
			
			<p class="info">{{job.direccion}} </p>

			<p class=" info bold">Estado</p>
			<p class="info">{{job.estado}}</p>

			<p class=" info bold">Pais</p>
			<p class="info">{{job.pais}}</p>

			<p class=" info bold">Web</p>
			<p class="info"><a class="" href="#">{{job.enlace}}</a></p>
			
		</div>
	<div class="actions right-text">
		<a href="#" class="action icon-add text-align-right"></a>
		<a href="#" class="action icon-share"></a>
	</div>
	
	</div>
	{% endfor %}

</body>
</html>